body {
	background-color: #071715;
	color: #808080;
	width: 50%;
    height: 50%;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
	text-align: left;
	font-family: sans-serif;
	font-size: 0.750em;
}

.main {
	
}

.title {
	
}

.text {
	
}